{# templates/bundles/EasyAdminBundle/page/login.html.twig #}
{% extends '@EasyAdmin/page/login.html.twig' %}

{% block main %}
    <h1>{{ page_title }}</h1>

    <form action="{{ path('login') }}" method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="username">{{ username_label }}</label>
        <input type="text" id="username" name="{{ username_parameter }}" value="{{ last_username }}" required autofocus>

        <label for="password">{{ password_label }}</label>
        <input type="password" id="password" name="{{ password_parameter }}" required>

        <button type="submit">{{ sign_in_label }}</button>
    </form>
{% endblock %}
